<div style="background:transparent !important" class="jumbotron">
    <form #carteiraForm="ngForm" (ngSubmit)="salvarValor(carteiraForm)">
        <h1 class="display-4">Carteira Virtual</h1>
        <p class="lead">Um simples auxiliar pra manter a grana no bolso! 💲</p>
        <div class="row">
            <div class="col-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R$</span>
                    </div>
                    <input type="text"  name="valor" class="form-control" type="number"
                    [(ngModel)]="carteira.valor" #valor="ngModel">

                    <select class="form-control" id="moneyOption" name="caixa"
                    [(ngModel)]="carteira.caixa" #caixa="ngModel">
                        <option disabled selected value> Fluxo de Caixa </option>
                        <option>Entrada</option>
                        <option>Saída</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição do Valor <em>*</em></label>
                    <input type="email" name="descricao" class="form-control" id="descricao" placeholder="Ifood"
                    [(ngModel)]="carteira.descricao" #descricao="ngModel">
                </div>
                <div class="form-group">
                    <label for="data_valor">Data <em>*</em></label>
                      <input class="form-control" name="data_valor" type="date" value="2021-01-01" id="data_valor"
                      [(ngModel)]="carteira.data_valor" #data_valor="ngModel">
                  </div>

                <div class="d-flex justify-content-end">
                    <p class="lead">
                        <input class="btn btn-success btn-sm" type="submit" value="Salvar"/>                    </p>
                </div>
            </div>
            <div class="col-5">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th scope="col">Valor</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Data</th>
                            <th scope="col">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let index of tabela">
                            <td>{{index.valor}}</td>
                            <td>{{index.caixa}}</td>
                            <td>{{index.descricao}}</td>
                            <td>{{index.data_valor | date: 'dd/MM/yyyy'}}</td>
                            <td><i class="bi bi-pen"></i> | <i class="bi bi-x-circle"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <app-pie-chart></app-pie-chart>
            </div>
        </div>
    </form>
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <app-bars-chart></app-bars-chart>
        </div>
    </div>
</div>