<div style="background:transparent !important" class="jumbotron">
    <h1 class="display-4">Carteira Virtual</h1>
    <p class="lead">Um simples auxiliar pra manter a grana no bolso! 💲</p>
    <div class="row">
        <div class="col-3">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">R$</span>
                </div>
                <input type="text" class="form-control" type="number">

                <select class="form-control" id="moneyOption">
                    <option disabled selected value> Fluxo de Caixa </option>
                    <option>Entrada</option>
                    <option>Saída</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Descrição do Valor <em>*</em></label>
                <input type="email" class="form-control" id="describeValue" placeholder="Ifood">
            </div>

            <div class="d-flex justify-content-end">
                <p class="lead">
                    <a class="btn btn-success btn-sm" href="#" role="button">Salvar</a>
                </p>
            </div>
        </div>
        <div class="col-5">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th scope="col">Valor</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Data</th>
                        <th scope="col">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>R$25.00</td>
                        <td>Saída</td>
                        <td>Cervejinha</td>
                        <td>26/03/2021</td>
                        <td>Editar | Excluir</td>
                    </tr>
                    <tr>
                        <td>R$145.00</td>
                        <td>Entrada</td>
                        <td>Freela</td>
                        <td>15/03/2021</td>
                        <td>Editar | Excluir</td>
                    </tr>
                    <tr>
                        <td>R$75.00</td>
                        <td>Entrada</td>
                        <td>Reembolso</td>
                        <td>28/02/2021</td>
                        <td>Editar | Excluir</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <app-pie-chart></app-pie-chart>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <app-bars-chart></app-bars-chart>
        </div>
    </div>
</div>